<div class="title" ng-show="showDetailPath">
	<h2 ng-bind="title"></h2>
	<span class="location-map" ng-show="showDetailPath">您所在的位置: <a ui-sref="index">首页</a> > <a ui-sref="return({cate: detailCate})">{{detailCate | chn}}</a> <span>> {{detailCate | pathChn}}</span></span>
</div>
<div class="detail-box" ng-controller="contDetail">
	<div class="title">
		<h3>{{detail.title}}</h3>
		<span>发布于 {{detail.createdAt}}</span>
	</div>
	<div class="content">
		<p ng-bind-html="detail.content|showAsHtml"><img src="../images/mode_04.jpg" /></p>
	</div>
</div>