<div class="header">
	<div class="slogan bounceInDown"><img src="images/slogan.png" alt="疯狂原始人竞技对战" /></div>
	<div class="download-box">
		<div class="qr-code"><img src="images/2wm.jpg" /></div>
		<a class="apple" href="http://itunes.apple.com/cn/app/id1195735446?mt=8" target="_blank" title="App Store下载">App Store下载</a>
		<a class="android" href="http://pro-update-cw.opd2c.com/download/croods_ippa_pro.apk" target="_blank" title="安卓下载">安卓下载</a>
	</div>
	<div class="btn-video tada" ng-click="openVideo()"><img src="images/btn_video.png" alt="播放游戏视频" /></div>
	<div class="man rotateMan"><img src="images/man.png" /></div>
</div>
