<div class="article-list">
	<ul>
		<li ng-repeat='art in list'>
			<a ui-sref="detail({id: art.postId})">[ {{art.category | chn}} ]{{art.title}}</a>
			<span>{{art.datetime}}</span>
		</li>
	</ul>
</div>
<div class="page-box ng-cloak" ng-hide="page.total <= 1 ? true : false" ng-cloak>
	<ul>
		<li><a href="javascript:;" ng-click="prevPage(cate, page.current)">上一页</a></li>
		<li><a href="javascript:;" ng-click="nextPage(cate, page.current)">下一页</a></li>
		<li><a href="javascript:;" ng-click="lastPage(cate, page.total)">末页</a></li>
	</ul>
	<div class="total">
		<span>第{{curPage}}页</span>
		<span>共{{totPage}}页</span>
	</div>
</div>
<div class="no-data" ng-show="page.total == 0">暂无数据...</div>