/* 通用样式 */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clearfix {
  clear: both;
  *display: inline-block;
}
.min-width-box {
  width: 1200px;
  margin: 0 auto;
}
.inline-close {
  letter-spacing: -3px;
  font-size: 0;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.right-line {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  content: '';
}
.bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
}
.omitted {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: tahoma;
}
.ng-cloak {
  display: none;
}
html,
body {
  height: 100%;
}
/* body */
body {
  background-color: #113962;
  font-family: "microsoft yahei";
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  background: url(../images/mask_bg.png) \0;
}
.btn-close {
  position: absolute;
  right: -35px;
  top: 0;
  width: 31px;
  height: 31px;
  background: url(../images/sprite_icon.png) no-repeat right top;
  text-indent: -10000px;
}
.video-box {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin: -169px 0 0 -300px;
  width: 600px;
}
.video-box video {
  width: 100%;
}
.erweima {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin: -215px 0 0 -215px;
}
/* 首页背景 */
.index-bg {
  background: url(../images/bg.jpg) no-repeat top center;
}
/* 顶部导航 */
.top-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 79px;
  background: url(../images/nav_bg.png) repeat-x;
}
.top-nav .safe-box {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}
.top-nav .safe-box .logo {
  position: relative;
  top: 6px;
  float: left;
}
.top-nav .safe-box .nav {
  float: right;
}
.top-nav .safe-box .nav ul {
  letter-spacing: -3px;
  font-size: 0;
  padding-top: 18px;
}
.top-nav .safe-box .nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 2px;
  letter-spacing: normal;
}
.top-nav .safe-box .nav ul li a {
  display: block;
  width: 115px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}
.top-nav .safe-box .nav ul li a:hover {
  background: url(../images/nav_active.png) no-repeat 0 0;
  color: #774322;
}
.top-nav .safe-box .nav ul li.active a {
  background: url(../images/nav_active.png) no-repeat 0 0;
  color: #774322;
}
/* 页头 */
.header {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 580px;
  background: url(../images/bg.jpg) no-repeat -360px 0;
}
.header .slogan {
  position: absolute;
  top: 194px;
  left: 63px;
}
.header .download-box {
  overflow: hidden;
  position: absolute;
  top: 390px;
  left: 69px;
  width: 329px;
  height: 159px;
}
.header .download-box .qr-code {
  overflow: hidden;
  position: absolute;
  left: 18px;
  top: 16px;
  width: 110px;
  height: 110px;
}
.header .download-box .qr-code img {
  width: 100%;
}
.header .download-box a {
  display: block;
  width: 174px;
  height: 54px;
  text-indent: -10000px;
}
.header .download-box a.apple {
  margin: 14px 0 0 143px;
}
.header .download-box a.android {
  margin: 17px 0 0 143px;
}
.header .btn-video {
  position: absolute;
  top: 420px;
  left: 414px;
  z-index: 10;
  cursor: pointer;
}
.header .man {
  position: absolute;
  top: 0;
  left: 400px;
  -webkit-transform-origin: 500px bottom ;
  transform-origin: 500px bottom;
}
/* 页面内容 */
.main {
  width: 1200px;
  margin: 0 auto;
  background: url(../images/bg.jpg) no-repeat -360px -580px;
  /* 幻灯片 */
  /* 新闻列表 */
  /* 新手指导 */
  /* 模式介绍 */
  /* 媒体专区 */
}
.main .slide-show {
  overflow: hidden;
  position: relative;
  float: left;
  width: 590px;
  height: 281px;
}
.main .slide-show ul li {
  position: absolute;
  top: 0;
  left: 0;
}
.main .slide-show ul li:first-child {
  z-index: 2;
}
.main .slide-show ol {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 3;
  white-space: nowrap;
  letter-spacing: -3px;
  font-size: 0;
}
.main .slide-show ol li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 5px;
  width: 14px;
  height: 14px;
  background-color: #000;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}
.main .slide-show ol li.active {
  width: 50px;
  background-color: #fff;
}
.main .news-box {
  overflow: hidden;
  float: left;
  width: 401px;
  height: 281px;
  background-color: #202a42;
}
.main .news-box .menu {
  overflow: hidden;
  position: relative;
  width: 374px;
  margin: 0 auto;
  padding-top: 20px;
}
.main .news-box .menu ol {
  float: left;
  letter-spacing: -3px;
  font-size: 0;
}
.main .news-box .menu ol li {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 65px;
  height: 36px;
  line-height: 36px;
  letter-spacing: normal;
}
.main .news-box .menu ol li a {
  display: block;
  color: #d6d6d6;
  font-family: "宋体";
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.main .news-box .menu ol li.active a {
  color: #ffcf11;
  font-weight: bold;
}
.main .news-box .menu ol li.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  z-index: 1;
  height: 2px;
  background-color: #ffcf11;
}
.main .news-box .menu:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  height: 2px;
  background-color: #255c94;
}
.main .news-box .menu .more {
  float: right;
}
.main .news-box .menu .more a {
  line-height: 30px;
  color: #3f89d3;
  font-size: 30px;
  text-decoration: none;
}
.main .news-box .content {
  overflow: hidden;
  width: 374px;
  height: 205px;
  margin: 0 auto;
}
.main .news-box .content ul li {
  height: 211px;
  opacity: 0;
}
.main .news-box .content ul li .hot {
  position: relative;
  width: 100%;
}
.main .news-box .content ul li .hot a {
  display: block;
  padding: 11px 0 10px 0;
  color: #f4b510;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.main .news-box .content ul li .hot a span {
  display: inline-block;
}
.main .news-box .content ul li .hot a span.txt {
  width: 304px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: tahoma;
  vertical-align: middle;
}
.main .news-box .content ul li .hot a span.tip {
  margin-right: 13px;
  padding: 3px 14px;
  min-height: 14px;
  background-color: #ffcf11;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}
.main .news-box .content ul li .hot:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  height: 1px;
  background-color: #255c94;
}
.main .news-box .content ul li .list {
  padding-top: 8px;
}
.main .news-box .content ul li .list div {
  overflow: hidden;
  vertical-align: middle;
  letter-spacing: normal;
}
.main .news-box .content ul li .list div a {
  float: left;
  width: 285px;
  padding: 8px 0;
  color: #e8e8e8;
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: tahoma;
  -webkit-transition: color .5s;
  transition: color .5s;
}
.main .news-box .content ul li .list div a .tip {
  margin-right: 3px;
}
.main .news-box .content ul li .list div a:hover {
  color: #ffcf11;
}
.main .news-box .content ul li .list div em {
  overflow: hidden;
  float: right;
  width: 60px;
  height: 14px;
  padding: 8px 0;
  color: #e8e8e8;
  font-family: "宋体";
  font-size: 12px;
  white-space: nowrap;
}
.main .guide {
  float: left;
  height: 281px;
  background-color: #af2419;
}
.main .guide .title img {
  display: block;
}
.main .guide .content {
  font-family: "宋体";
  font-size: 12px;
  text-align: center;
}
.main .guide .content thead {
  background-color: #daad55;
}
.main .guide .content thead th {
  height: 30px;
  line-height: 30px;
  color: #af2419;
  font-weight: bold;
  text-align: center;
}
.main .guide .content tbody td {
  height: 26px;
  line-height: 26px;
  color: #fff;
  font-weight: normal;
}
.main .guide .content tbody td i {
  display: inline-block;
  width: 17px;
  height: 18px;
  line-height: 17px;
  background: url(../images/sprite_icon.png) no-repeat;
  font-style: normal;
}
.main .guide .content tbody td .n1 {
  background-position: 0 0;
  color: #000;
}
.main .guide .content tbody td .n2 {
  background-position: 0 -18px;
  color: #000;
}
.main .guide .content tbody td .n3 {
  background-position: 0 -36px;
  color: #fff;
}
.main .guide .content tbody td .n4,
.main .guide .content tbody td .n5 {
  background-position: 0 -54px;
  color: #daad55;
}
.main .about-mode {
  width: 1200px;
  margin: 12px auto 0;
}
.main .about-mode ul {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  height: 370px;
}
.main .about-mode ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 793px;
  height: 370px;
}
.main .about-mode ul li img {
  width: 100%;
}
.main .rows {
  margin-top: 12px;
  /* 媒体合作 */
}
.main .rows .media-news {
  overflow: hidden;
  float: left;
  width: 401px;
  height: 281px;
  background-color: #202a42;
  width: 697px;
  background-color: #255c94;
}
.main .rows .media-news h2 {
  height: 50px;
  line-height: 50px;
  background-color: #1c4f83;
  color: #bcd7f2;
  font-size: 20px;
  text-indent: 15px;
}
.main .rows .media-news .menu {
  overflow: hidden;
  position: relative;
  width: 374px;
  margin: 0 auto;
  padding-top: 20px;
}
.main .rows .media-news .menu ol {
  float: left;
  letter-spacing: -3px;
  font-size: 0;
}
.main .rows .media-news .menu ol li {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 65px;
  height: 36px;
  line-height: 36px;
  letter-spacing: normal;
}
.main .rows .media-news .menu ol li a {
  display: block;
  color: #d6d6d6;
  font-family: "宋体";
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.main .rows .media-news .menu ol li.active a {
  color: #ffcf11;
  font-weight: bold;
}
.main .rows .media-news .menu ol li.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  z-index: 1;
  height: 2px;
  background-color: #ffcf11;
}
.main .rows .media-news .menu:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  height: 2px;
  background-color: #255c94;
}
.main .rows .media-news .menu .more {
  float: right;
}
.main .rows .media-news .menu .more a {
  line-height: 30px;
  color: #3f89d3;
  font-size: 30px;
  text-decoration: none;
}
.main .rows .media-news .content {
  overflow: hidden;
  width: 374px;
  height: 205px;
  margin: 0 auto;
}
.main .rows .media-news .content ul li {
  height: 211px;
  opacity: 0;
}
.main .rows .media-news .content ul li .hot {
  position: relative;
  width: 100%;
}
.main .rows .media-news .content ul li .hot a {
  display: block;
  padding: 11px 0 10px 0;
  color: #f4b510;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.main .rows .media-news .content ul li .hot a span {
  display: inline-block;
}
.main .rows .media-news .content ul li .hot a span.txt {
  width: 304px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: tahoma;
  vertical-align: middle;
}
.main .rows .media-news .content ul li .hot a span.tip {
  margin-right: 13px;
  padding: 3px 14px;
  min-height: 14px;
  background-color: #ffcf11;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}
.main .rows .media-news .content ul li .hot:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  height: 1px;
  background-color: #255c94;
}
.main .rows .media-news .content ul li .list {
  padding-top: 8px;
}
.main .rows .media-news .content ul li .list div {
  overflow: hidden;
  vertical-align: middle;
  letter-spacing: normal;
}
.main .rows .media-news .content ul li .list div a {
  float: left;
  width: 285px;
  padding: 8px 0;
  color: #e8e8e8;
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: tahoma;
  -webkit-transition: color .5s;
  transition: color .5s;
}
.main .rows .media-news .content ul li .list div a .tip {
  margin-right: 3px;
}
.main .rows .media-news .content ul li .list div a:hover {
  color: #ffcf11;
}
.main .rows .media-news .content ul li .list div em {
  overflow: hidden;
  float: right;
  width: 60px;
  height: 14px;
  padding: 8px 0;
  color: #e8e8e8;
  font-family: "宋体";
  font-size: 12px;
  white-space: nowrap;
}
.main .rows .media-news .menu {
  width: 625px;
}
.main .rows .media-news .menu ul li a {
  color: #bcd7f2;
}
.main .rows .media-news .menu:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  height: 2px;
  background-color: #1c4f83;
}
.main .rows .media-news .content {
  width: 625px;
  height: 165px;
}
.main .rows .media-news .content ul li {
  opacity: 0;
}
.main .rows .media-news .content ul li .list {
  height: 157px;
}
.main .rows .media-news .content ul li .list div a,
.main .rows .media-news .content ul li .list div em {
  padding: 0;
  line-height: 38px;
  color: #e4f1ff;
}
.main .rows .media-news .content ul li .list div a {
  width: 480px;
}
.main .rows .media-logo {
  overflow: hidden;
  float: right;
  width: 503px;
  height: 281px;
  background-color: #164472;
}
.main .rows .media-logo h2 {
  height: 50px;
  line-height: 50px;
  color: #bcd7f2;
  font-size: 20px;
  text-indent: 15px;
}
.main .rows .media-logo .list ul {
  letter-spacing: -3px;
  font-size: 0;
  padding: 15px 0 0 16px;
}
.main .rows .media-logo .list ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 15px 12px 0;
  width: 147px;
  height: 61px;
  vertical-align: middle;
}
.main .rows .media-logo .list ul li a {
  display: block;
  height: 100%;
  background: url(../images/sprite_logo.png) no-repeat;
  text-indent: -10000px;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.main .rows .media-logo .list ul li a:hover {
  -webkit-box-shadow: 0 5px 10px #103152;
  box-shadow: 0 5px 10px #103152;
}
.main .rows .media-logo .list ul li.logo-18touch a {
  background-position: 0 0;
}
.main .rows .media-logo .list ul li.logo-18183 a {
  background-position: -148px 0;
}
.main .rows .media-logo .list ul li.logo-youxiduo a {
  background-position: -296px 0;
}
.main .rows .media-logo .list ul li.logo-17173 a {
  background-position: 0 -62px;
}
.main .rows .media-logo .list ul li.logo-zm a {
  background-position: -148px -62px;
}
.main .rows .media-logo .list ul li.logo-wankr a {
  background-position: -296px -62px;
}
.main .rows .media-logo .list ul li.logo-ptbus a {
  background-position: 0 -124px;
}
.main .rows .media-logo .list ul li.logo-shouyoutv a {
  background-position: -148px -124px;
}
.main .rows .media-logo .list ul li.logo-mmj a {
  background-position: -296px -124px;
}
/* 页尾 */
.footer {
  overflow: hidden;
  margin-top: 12px;
  height: 150px;
  background-color: #0a2f54;
}
.footer .safe-box {
  width: 1200px;
  margin: 0 auto;
  /* d2cLogo */
  /* 底部菜单 */
}
.footer .safe-box .logo-d2c {
  float: left;
  margin: 25px 0 0 189px;
  width: 264px;
  height: 81px;
  background: url(../images/sprite_logo.png) no-repeat 0 -186px;
  text-indent: -10000px;
}
.footer .safe-box .logo-d2c img {
  display: block;
}
.footer .safe-box .bottom-nav {
  float: left;
  margin-left: 28px;
  /* 版权 */
}
.footer .safe-box .bottom-nav .menu {
  letter-spacing: -3px;
  font-size: 0;
  margin: 39px 0 8px 0;
}
.footer .safe-box .bottom-nav .menu a {
  position: relative;
  padding: 0 33px;
  color: #759fc9;
  font-family: "宋体";
  font-size: 14px;
  text-decoration: none;
  letter-spacing: normal;
}
.footer .safe-box .bottom-nav .menu a:after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  content: '';
  width: 1px;
  background-color: #759fc9;
}
.footer .safe-box .bottom-nav .menu a:last-child:after {
  width: 0px;
  background-color: transparent;
}
.footer .safe-box .bottom-nav .copyright {
  margin-left: 33px;
  color: #759fc9;
  font-family: arial;
  font-size: 12px;
}
.footer .safe-box .bottom-nav .copyright p {
  line-height: 20px;
}
.footer .safe-box .bottom-nav .copyright p a {
  display: inline-block;
  line-height: 20px;
  color: #759fc9;
  text-decoration: none;
}
.footer .safe-box .bottom-nav .copyright p a img {
  vertical-align: top;
}
/* 侧边悬浮菜单 */
.float-bar {
  position: fixed;
  top: 50%;
  right: -171px;
  z-index: 2;
  margin-top: -85px;
  height: 218px;
  background-color: #252525;
}
.float-bar .push {
  float: left;
  width: 50px;
  height: 100%;
  background-color: #42536b;
}
.float-bar .push span {
  display: block;
  padding-top: 30px;
  color: #c8d2e3;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
.float-bar .list {
  float: right;
  width: 171px;
  padding: 5px 0;
}
.float-bar .list ul {
  padding-left: 22px;
}
.float-bar .list ul li {
  margin: 16px 0;
  height: 32px;
  vertical-align: middle;
}
.float-bar .list ul li a {
  display: block;
  height: 100%;
  line-height: 32px;
  background: url(../images/sprite_icon.png) no-repeat;
  color: #969696;
  font-size: 16px;
  text-decoration: none;
  text-indent: 42px;
  -webkit-transition: color .5s;
  transition: color .5s;
}
.float-bar .list ul li a:hover {
  color: #fff;
}
.float-bar .list ul li.wx a {
  background-position: 0 -100px;
}
.float-bar .list ul li.wx a:hover {
  background-position: 0 -132px;
}
.float-bar .list ul li.sina a {
  background-position: 0 -164px;
}
.float-bar .list ul li.sina a:hover {
  background-position: 0 -196px;
}
.float-bar .list ul li.tc a {
  background-position: 0 -228px;
}
.float-bar .list ul li.tc a:hover {
  background-position: 0 -260px;
}
.float-bar .list ul li.bd a {
  background-position: 0 -292px;
}
.float-bar .list ul li.bd a:hover {
  background-position: 0 -324px;
}
.float-bar .list ul li.kf {
  position: relative;
  height: auto;
}
.float-bar .list ul li.kf .info {
  display: none;
  margin: 5px 0 0 -70px;
  width: 200px;
  padding: 5px;
  background-color: #164472;
  color: #fff;
  font-size: 12px;
  white-space: space:nowrap;
}
.float-bar .list ul li.kf:hover .info {
  display: block;
}
.float-bar .list ul li.kf a {
  background-position: 0 -356px;
}
.float-bar .list ul li.kf a:hover {
  background-position: 0 -388px;
}
/* css3动画 */
@-webkit-keyframes rotateMan {
  0% {
    -webkit-transform: rotate(-125deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-125deg);
  }
}
@keyframes rotateMan {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@-webkit-keyframes bounceInDown {
  50%,
  70%,
  80%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -3000px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 25px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  50%,
  70%,
  80%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, -3000px, 0);
  }
  70% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  80% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.rotateMan {
  -webkit-animation: rotateMan 2s infinite ease-in-out alternate;
  animation: rotateMan 2s infinite ease-in-out alternate;
}
.bounceInDown {
  -webkit-animation: bounceInDown 1.6s forwards;
  animation: bounceInDown 1.6s forwards;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5%,
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  15%,
  25%,
  35%,
  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  20%,
  30%,
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5%,
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  15%,
  25%,
  35%,
  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  20%,
  30%,
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.tada {
  -webkit-animation: tada 3s infinite 2s;
  animation: tada 3s infinite 2s;
}
/* 内页背景 */
.inner-bg {
  background: url(../images/inner_01.jpg) no-repeat top center;
}
/* 内页页头 */
.inner-header {
  height: 460px;
}
/* 内页内容 */
.inner-main {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  /* 侧边栏 */
  /* 分类列表 */
}
.inner-main .sidebar {
  float: left;
  width: 250px;
  padding: 18px 0;
  background-color: #0a2340;
  text-align: center;
}
.inner-main .sidebar h2 {
  padding-top: 14px;
  color: #fff;
  font-family: "宋体";
  font-size: 14px;
}
.inner-main .sidebar .code-box {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 10px;
  padding: 4px;
  background-color: #e0cea6;
}
.inner-main .sidebar .code-box img {
  display: block;
}
.inner-main .sidebar .download-box li {
  margin-top: 12px;
  vertical-align: middle;
}
.inner-main .sidebar .download-box li a {
  display: block;
  margin: 0 auto;
  width: 209px;
  height: 64px;
  background: url(../images/sprite_icon.png) no-repeat;
  text-indent: -10000px;
}
.inner-main .sidebar .download-box li.apple a {
  background-position: 0 -445px;
}
.inner-main .sidebar .download-box li.android a {
  background-position: 0 -509px;
}
.inner-main .category-box {
  float: right;
  width: 950px;
  min-height: 385px;
  padding: 25px 0;
  background-color: #295684;
  /* 列表区域 */
}
.inner-main .category-box .title {
  overflow: hidden;
  position: relative;
  width: 892px;
  margin: 0 auto;
  padding-bottom: 15px;
  /* 分类标题 */
  /* 面包屑导航 */
}
.inner-main .category-box .title h2 {
  float: left;
  line-height: 1;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.inner-main .category-box .title .location-map {
  float: right;
  margin-top: 15px;
  color: #a2cdfa;
  font-family: "宋体";
  font-size: 12px;
}
.inner-main .category-box .title .location-map a {
  color: #a2cdfa;
  text-decoration: none;
}
.inner-main .category-box .title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  z-index: 1;
  height: 2px;
  background-color: #356393;
}
.inner-main .category-box .list-box {
  width: 892px;
  margin: 0 auto;
  /* 页码 */
  /* 详情页 */
  /* 暂无数据 */
}
.inner-main .category-box .list-box .menu {
  position: relative;
}
.inner-main .category-box .list-box .menu ol {
  letter-spacing: -3px;
  font-size: 0;
}
.inner-main .category-box .list-box .menu ol li {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 26px;
  width: 52px;
  height: 46px;
  line-height: 46px;
  letter-spacing: normal;
}
.inner-main .category-box .list-box .menu ol li a {
  display: block;
  color: #bcd7f2;
  font-family: "宋体";
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.inner-main .category-box .list-box .menu ol li.active a {
  color: #ffcf11;
  font-weight: bold;
}
.inner-main .category-box .list-box .menu ol li.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  z-index: 1;
  height: 3px;
  background-color: #ffcf11;
}
.inner-main .category-box .list-box .menu:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  z-index: 1;
  height: 1px;
  background-color: #356393;
}
.inner-main .category-box .list-box .article-list {
  margin-bottom: 36px;
}
.inner-main .category-box .list-box .article-list ul li {
  overflow: hidden;
  border-bottom: #a2cdfa dashed 1px;
}
.inner-main .category-box .list-box .article-list ul li a {
  float: left;
  width: 700px;
  padding: 20px 0;
  line-height: 1;
  color: #a2cdfa;
  font-family: "宋体";
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: tahoma;
  -webkit-transition: color .5s;
  transition: color .5s;
}
.inner-main .category-box .list-box .article-list ul li a:hover {
  color: #ffcf11;
}
.inner-main .category-box .list-box .article-list ul li span {
  float: right;
  margin-right: 36px;
  padding: 20px 0;
  color: #a2cdfa;
  font-family: "宋体";
  font-size: 12px;
}
.inner-main .category-box .list-box .page-box {
  text-align: center;
  letter-spacing: -3px;
  font-size: 0;
}
.inner-main .category-box .list-box .page-box ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: -3px;
  font-size: 0;
}
.inner-main .category-box .list-box .page-box ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 5px;
  letter-spacing: normal;
}
.inner-main .category-box .list-box .page-box ul li a {
  display: block;
  width: 82px;
  height: 30px;
  line-height: 30px;
  background-color: #be9344;
  color: #ede0c8;
  font-family: "宋体";
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.inner-main .category-box .list-box .page-box .total {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.inner-main .category-box .list-box .page-box .total span {
  padding: 0 6px;
  color: #fff;
  font-family: "宋体";
  font-size: 12px;
  letter-spacing: normal;
}
.inner-main .category-box .list-box .detail-box {
  width: 828px;
  margin: 0 auto;
}
.inner-main .category-box .list-box .detail-box .title {
  width: auto;
  padding: 8px 0 20px;
  color: #fff;
}
.inner-main .category-box .list-box .detail-box .title h3 {
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
}
.inner-main .category-box .list-box .detail-box .title span {
  font-family: "宋体";
  font-size: 14px;
}
.inner-main .category-box .list-box .detail-box .title:after {
  height: 0;
  background-color: transparent;
}
.inner-main .category-box .list-box .detail-box .content {
  color: #d8ebff;
  font-family: "宋体";
  font-size: 14px;
}
.inner-main .category-box .list-box .detail-box .content p {
  line-height: 26px;
}
.inner-main .category-box .list-box .detail-box .content p img {
  display: block;
  margin: 20px auto;
  max-width: 600px;
}
.inner-main .category-box .list-box .no-data {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
