<!DOCTYPE html>
<html ng-app="croods" xmlns:ng="http://angularjs.org" id="ng-app" ng-controller="contApp">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="all">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<title>疯狂原始人</title>
		<link rel="shortcut icon" href="images/ysr.ico" />
		<!--build:css css/style.min.css -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<!-- endbuild -->
		<link rel="stylesheet/less" type="text/css" href="less/style.less" />
		<script>
			var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
			var browser = navigator.userAgent.toLowerCase();
			var isMobile = false;
			for (var i = 0; i < mobileAgent.length; i++) {
			    if (browser.indexOf(mobileAgent[i]) != -1) {
			        isMobile = true;
			        location.href = 'mobile/index.html';
			        break;
			    };
			};
		</script>
		<script src="//cdn.bootcss.com/less.js/2.5.3/less.min.js"></script>
	</head>
	<body>
		
		<div ui-view="app"></div>
		
		<!-- 黑色遮罩层 -->
		<div class="mask ng-cloak" ng-show="showMask" ng-cloak></div>
		
		<!-- 二维码 -->
		<div class="erweima ng-cloak" ng-show="show2wm" ng-cloak><img src="images/2wm.jpg" />
			<a class="btn-close" href="javascript:;" ng-click="close2wm()">关闭二维码</a>
		</div>
		<script src="//cdn.bootcss.com/angular.js/1.2.32/angular.min.js"></script>
		<script src="//cdn.bootcss.com/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
		<script src="//cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
		<!--build:js directive/directive.min.js -->
		<script src="directive/top-nav.js"></script>
		<script src="directive/float-bar.js"></script>
		<!-- endbuild -->
		<script src="routeConfig.js"></script>
		
		<!--build:js controllers/controllers.min.js -->
		<script src="controllers/app.js"></script>
		<script src="controllers/index.js"></script>
		<script src="controllers/category.js"></script>
		<script src="controllers/detail.js"></script>
		<!-- endbuild -->
		<script src="js/long.min.js"></script>
		<script src="js/bytebuffer.min.js"></script>
		<script src="js/protobuf.min.js"></script>
		<script src="js/codec.js"></script>
		
		
		<!-- 版本视频 -->
		<div id="video-box" class="video-box ng-cloak" ng-show="showVideo" ng-cloak>
			<video _src="video/movie.mp4" controls loop>
				<object name="wmode" align="middle" width="600" height="338" classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000>
					<param name="FlashVars" VALUE='config={"play":null,"playlist":[{"url":"http://thecroods.opd2c.com/images/cover.jpg","scaling":"fit","fadeInSpeed":0,"fadeOutSpeed":0},{"url":"http://thecroods.opd2c.com/video/movie.mp4","autoPlay":false,"autoBuffering":true,"scaling":"fit","fadeInSpeed":0,"fadeOutSpeed":0}],"clip":{"scaling":"fit","fadeInSpeed":0,"fadeOutSpeed":0},"canvas":{"backgroundGradient":"none","backgroundColor":"#000000"},"plugins":{"controls":{"url":"http://xmds.opd2c.com/templets/site/webjs/flowplayer.controls.swf","opacity":0.8,"backgroundColor":"#181818","backgroundGradient":"none","fullscreen":true,"autoHide":{"fullscreenOnly":false,"enabled":true,"hideStyle":"fade","mouseOutDelay":0}}},"playerId":"fp_33885030"}'>
		            <param name="Movie" value="http://xmds.opd2c.com/templets/site/webjs/flowplayer.swf">
		            <param name="Src" value="http://xmds.opd2c.com/templets/site/webjs/flowplayer.swf">
		            <param name="allowScriptAccess" value="sameDomain">
		            <param name="wmode" value="opaque">
		            <param name="movie" value="http://thecroods.opd2c.com/video/movie.mp4">
		            <param name="quality" value="high">
		        </object>
		    </video>
		    <a class="btn-close" href="javascript:;" ng-click="closeVideo()">关闭视频</a>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-94086753-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
	</body>
</html>
